ul {
   display: flex;
   list-style-type: none;
   justify-content: flex-end;
   padding: 0px; 
}

li {
    margin: 12px;
}

li a {
    color: green;
    font-weight: bold;
    text-decoration: none;

}

#home {
    margin-right: auto;
}

li.active a {
    font-size: 200%;
    color: navy;
 }

@media screen and (max-width: 768px) and (min-width: 300px) {
    body{
        background-color: skyblue;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    #home {
        margin-right: inherit;
    }
}