ul {
   display: flex;
   list-style-type: none;
   justify-content: flex-end;
   padding: 0px; 
}

li {
    margin: 12px;
}

li a {
    color: firebrick;
    font-weight: bold;
    text-decoration: none;

}

#home {
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    body{
        background-color: aquamarine;
    }

    ul {
        flex-direction: column;
    }
}