.banner {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    min-height: 4rem;
    
}

.main {
    background-image: 
        radial-gradient(transparent, black),
        url("../images/netflixBackground.jpg");
    background-size: cover;
    background-position: 75% 55%;
    color: white;
    min-height: 500px;
    object-fit: cover;
    /* box-shadow: inset 0px 0px 200px 75px black; */
}


.buttonNew {
    background-color: #e50914;
    border-radius: 17px;
    color: white;
    padding: 8px;
    font-size: 12px;

}

.price {
    font-weight: bold;
    font-weight: 20px;
    
}

.plan {
    margin-top: 50px;
    padding-top: 20px;

}

body {
    background-color: black;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0px;
}

a #logo {
    height: 150px;
    margin-right: auto;
    float: right;
} 

.buttonLearn {
    color: #0071eb;
    font-weight: bold;
}

#navbar img {
    width: 100%;
    float: right;
    height: 150px;
    position: relative;
    text-align: center;
    align-items: flex-start;
    margin-right: auto;

}

.form {
    float: none;
    top: 50%;
    left: 50%;
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}


#navBar {
    display:flex;
    justify-content: center;
    align-items: center;

}

#navBar img{
    width: 200px;
    margin-right: auto;
    padding-left: 50px;
}

.banner a {
    text-decoration: none;
}

.banner div {
    display: inline-block;
    margin: 12px;
}

.buttonclear {
    background-color: rgba(0,0,0,0.5);
    border-radius: 2px;
    color: white;
    padding: 12px 24px;
    text-transform: uppercase;
    border: 1px solid white;
    margin: 0px 24px;
}

.button {
    background-color: #e50914;
    border-radius: 4px;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    margin-right: 20px;
}

.form input[type="email"] {
    height: 40px;
    width: 400px;
    margin-bottom: 16px;
}

h2,
h3 {
    font-size: small;
}