.banner {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    min-height: 4rem;
    
}

.main {
    background-image: 
        radial-gradient(transparent, black),
        url("../images/netflixBackground.jpg");
    background-size: cover;
    background-position: 75% 55%;
    color: white;
    min-height: 500px;
    object-fit: cover;
    /* box-shadow: inset 0px 0px 200px 75px black; */
}


.buttonNew {
    background-color: #e50914;
    border-radius: 17px;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    margin: 0.5rem 1rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
}

.price {
    font-weight: bold;
    font-weight: 20px;
    
}

.plan {
    margin-top: 50px;
    padding-top: 20px;

}

body {
    background-color: black;
    font-family: sans-serif;
    font-size: 18px;
    margin: 0px;
}

a #logo {
    height: 150px;
    margin-right: auto;
    float: right;
} 

.buttonLearn {
    color: #0071eb;
    font-weight: bold;
}

img {
    width: 100%;
    float: right;
    height: 150px;
    position: relative;
    text-align: center;
    align-items: flex-start;

}

.form {
    float: none;
    top: 50%;
    left: 50%;
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
}


nav> ul {
    display:flex;
    justify-content: flex;
    padding: 0px;
    align-items: center;
    max-width: 800px;
    margin: 0px;
    top: 0;
    list-style-type: none;
}

.banner a {
    text-decoration: none;
}

.banner div {
    display: inline-block;
    margin: 12px;
}

.buttonclear {
    background-color: transparent;
    border-radius: 17px;
    color: #fff;
    font-size: .8rem;
    font-weight: 600;
    margin: 0.5rem 1rem;
    padding: 0.2rem 0.5rem;
    text-transform: uppercase;
    border: solid white;
}

nav ul:first-child {
    margin-right: auto;
}