table {
    border-collapse: collapse;
    margin: 48px;
    box-shadow: 0px 0px 8px 16px rgba(0,0,0,0.1);
}

th,
td {
    padding: 20px 24px;
    width: 150px;
    border: 1px solid black;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
}

thead tr:first-child {
    background-color: rgb(41, 100, 41);
    color:  white;
    font-size: 40px;
}

tr:nth-child(even) {
    background-color: rgb(208, 246, 208);
}

tbody td:hover {
    color: red;
}

tbody td {
    vertical-align: top;
}


