body {
    margin: 0;
}

#hero1 {
    background-image: url("../assets/images/desert.jpg");
    /* background-size: contain; */
    background-size: cover;
    /* background-position: center center; */
    background-position: 75% 55%;
    /* background: no-repeat; */
    height: 500px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: filter 0.5s;
}

#hero1:hover {
    filter: blur(2px);
}

#hero1 h1 {
    /* position: absolute;
    top: 60px;
    left: 60px; */
    font-family: cursive;
    font-size: 60px;

}

p {
    font-size: 32px;
    margin: 48px;
}

#hero2 {
    height: 100vh;
    color: white;
    background-image: url(../assets/images/forest.jpg);
    position: relative;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

#hero2 h2 {
    font-family: cursive;
    font-size: 60px;
}

#hero2 h3 {
    font-family: cursive;
    font-size: 48px;
} 
