#hero {
    background-image: url(../assets/portfolio/fields.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    color: #000000;
    margin: 0px;
}

h1 {
    font-family: Lobster;
    font-size: 80px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin:0px;
}


  h3{
    font-family: lobster;

  }

.carousel-inner {
  max-height: 600px;

}

footer {
     display: grid;
    grid-template-columns: 1fr 1fr;
}

#logo img {
  height: 200px;
  margin-right: auto;
}

header h1 {
  margin-left: auto;
}

footer img {
  margin-top: auto;
  height: 200px;
  margin-left: 0;
  margin-bottom: auto;

}

#aboutus {
  margin-left: 20px;
}

main #gallery img {
  height: 200px;
  margin: 6px;
  flex: 1 0 auto;
  object-fit: cover;
}