body {
    background-color: #
    font-family: sans-serif;
}

#gridContainer  {
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-areas:
        ".  header ."
        ". content ."
}

header {
    grid-area: header;
    padding: 48px;
    text-align: center;
}

#formContainer {
    grid-area: content;
    background-color: white;
    border: 2px solid grey;

}