body {
    margin: 0;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#countdown {
    color: white;
    border: 5px solid green;
    padding: 20px;
}

h2 {
    border: 5px solid green;
    padding: 12px;
    color: red;
}


  
  
